<h1>Welcome <%= current_user.player.name %>!</h1>
<h2>Create your game</h2>
<%= simple_form_for @game do |f| %>
  <%= f.input :game_title %>
  <%= f.input :white_player_id, :value => current_user.id, :as => :hidden %>
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>
