

<script>
  $( function() {
    $( ".chessPiece span" ).draggable();
    $('.chessPiece').droppable({
      drop: function(ev, ui) {
          var dropped = ui.draggable;
          var droppedOn = $(this);
          $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);

      $.ajax({
          type: 'PUT',
          url: ui.draggable.data("url"),  //name pass in as a argument
          dataType: 'json',
          data: {
           x_position: droppedOn.data('y_position'),
           y_position:  droppedOn.data('x_position'),
          }
        })

      }
    });
  });





</script>

</br>

<h1><%= @game.game_title %></h1>

<div class="chessboard">
  <table id="chessboardTable" >
      <% 7.downto(0) do |row| %>
        <tr class= "chessboardCol">
          <% 7.downto(0) do |col| %>
              <td class="chessPiece" data-x_position="<%= row %>" data-y_position="<%= col %>">
                <% if piece = @game.return_piece(col,row)%>
                  <span data-url="<%= piece_path(piece) %>"><%=piece_symbol(piece)%></span>
                <% end %>
              </td>
          <% end %><!--end column-->
        </tr>
      <% end %><!--end row-->
  </table>
</div>
